@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.animateHero{
  animation: infinite 500ms ease-in show ;
}

.linkItem{
  @apply p-4 block hover:text-[#309092] before:w-0 before:transition-[width] before:first-letter:duration-150 hover:before:w-10 before:h-1 before:content-[''] relative before:absolute before:bg-[#309092] before:top-full before:-translate-x-1/2 before:left-1/2 
}
.linkItem.active{
  @apply before:w-10 text-[#309092] 
}


@keyframes show {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
